
@{
    ViewBag.Title = "About";
}

<h2>About TaskList</h2>
<div style="width:800px;">
    TaskList application is to maintain the list of Tasks (ToDo) along with their Creation Date, Status (Complete or not) and Completion Date, if task is completed.
</div>
